section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color:rgb(248, 146, 11);
    font: 1em arial;
}
.myInfo{
    color: white;
}
.questions{
    color: white;
}
body{
    text-align: center;
    background-color: rgba(81, 22, 245, 0.986);
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
}
.facts{
    display: flex;
    margin-bottom: 20px;
}
img{
    max-height: 250px;
    margin-top: 20px;
}