
body{
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ;
}

#myName {
    text-align: center;
    font-size: 4em;
    
}

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#links a {
    text-decoration: none;
    color: black;
}

h2 {
    color: black;
    text-align: center;
}

#whoContainer {
    display: flex;
    position: absolute;
    top: 24%;
    left: 41.5%;
    font-size: 1.5em;
}
.myWhoMouseOver {
    position: absolute;
    left: 1.5%;
    text-align: center;
    font-size: 1em;
    color: red;
}

#whyContainer {
    display: flex;
    position: absolute;
    top: 42%;
    left: 43%;
    font-size: 1.5em;
}
.myWhyMouseOver {
    position: absolute;
    left: 1.5%;
    text-align: center;
    font-size: 1em;
    color: orange;
}

img {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 62%;
    left: 41%;
}
